*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search {
  background-color: blueviolet;
  padding: 10px;
  text-align: center;
}

.search input[type=text]{
  width: 80%;
  height: 40px;
  padding-left: 10px;;
}

.search input[type=submit]{
  width: 80%;
  height: 40px;
  cursor: pointer;
  margin: 10px 0;
  background-color: #e7426b;
  border:none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.search h2 {
  color: white;
  padding:20px;
}

.containerCidade{
  text-align: center;
}

.containerCidade p{
  border-bottom: 1px dashed #CCC;
  padding: 10px 0;
  font-weight: bold;
}

.searchCity{
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  font-size: 60px;
}